html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
  background-color: black;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1000;
}

.nav td {
  background-color: black;
  border-radius: 30px;
}

.nav a {
  color: white; /* Mengatur warna teks menjadi putih */
  text-decoration: none; /* Menghilangkan garis bawah pada tautan */
}

.nav td:hover {
  background-color: gray;
}
/*
table {
  border-collapse: collapse;
  border: 0;
}

border th, tr, td {
  border: none;
  border-color: white;
}
*/

.judul {
  font-size: 30px;
}

/* Mengatur border-radius pada gambar */
.foto img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.desc {
  font-size: 25px;
}

.desc,.loc {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  vertical-align: top;
}

iframe {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.fas {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  vertical-align: top;
}

.foot {
  font-size: 20px;
  padding: 20px;
  background-color: grey;
  color: white;
  border-radius: 20px;
}

.contact-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
}

.contact-list a {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease; /* Efek transisi saat dihover */
}

.contact-list a:hover {
  transform: scale(1.1); /* Efek menonjol keluar saat dihover */
}
